---
import Indice from "../../components/Indice.astro";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
---

<DashboardLayout>
  <Indice slot="sidebar" />

  <p>Hola</p>
</DashboardLayout>
