---
import Indice from "../components/Indice.astro";
import DashboardLayout from "../layouts/DashboardLayout.astro";
---

<DashboardLayout>
  <Indice slot="sidebar" />

  <!-- Hero ocupa toda la pantalla con video -->
  <section class="hero h-full relative overflow-hidden">
    <!-- Video de fondo -->
    <video autoplay muted loop playsinline class="absolute inset-0 w-full h-full object-cover">
      <source src="/video/libro1284x719.mp4" type="video/mp4" />
    </video>
    <!-- Overlay -->
    <div class="hero-overlay"></div>

    <!-- Contenido -->
    <div class="hero-content text-neutral-content text-center relative z-10">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Guía de Rénder Gaming</h1>
        <p class="mb-5">
          Descubre cómo las diversas opciones gráficas en los videojuegos afectan el rendimiento y tu hardware, y
          analiza su impacto real en tu experiencia de juego.
        </p>
      </div>
    </div>
  </section>
</DashboardLayout>
