---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  title?: string;
  img: ImageMetadata;
  alt?: string;
}

const { title, img, alt } = Astro.props;
---

<details class="collapse collapse-arrow bg-base-100 border border-base-300">
  <!-- Usamos text-base-content para que cambie según el tema -->
  <summary class="collapse-title font-semibold text-base-content">
    {title}
  </summary>
  <div class="collapse-content text-sm flex justify-center">
    <figure class="w-full">
      <Image src={img} alt={alt || ""} class="w-full h-auto" />
    </figure>
  </div>
</details>
