@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Roboto Variable - Normal */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900; /* rango completo de pesos */
  font-style: normal;
  font-display: swap;
}

/* Roboto Variable - Italic */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Color del texto fijo porque el fondo no cambia */
.hero-content {
  color: #f5f5f5;
}

/* Ajuste de parrafos (Esto debe ser un ajuste global para todo proyecto)*/
p {
  margin-block: 1em;
  margin-block: 1lh;
  font-size: large;
}

.bg-ambient {
  background-image: url("/img/fondoLibro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* No se ocupa espacio adicional, solo usa el que ya está disponible */
aside {
  scrollbar-gutter: stable;
}
/* reducir el ancho de la barra de scroll */
aside::-webkit-scrollbar {
  width: 6px; /* ancho de la barra */
}
aside::-webkit-scrollbar-thumb {
  background-color: hsl(var(--bc) / 0.4); /* color usando variables de DaisyUI */
  border-radius: 3px; /* esquinas redondeadas */
}
aside::-webkit-scrollbar-track {
  background: transparent; /* fondo del track */
}
/* Firefox usa otra propiedad */
aside {
  scrollbar-width: thin; /* valores: auto | thin | none */
  scrollbar-color: hsl(var(--bc) / 0.4) transparent;
}

/* La misma personalización de la barra side pero para el main */
main::-webkit-scrollbar {
  width: 6px;
}
main::-webkit-scrollbar-thumb {
  background-color: hsl(var(--bc) / 0.4);
  border-radius: 3px;
}
main::-webkit-scrollbar-track {
  background: transparent;
}
main {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--bc) / 0.4) transparent;
}
