@import "bootstrap-icons/font/bootstrap-icons.css";
@font-face {
  font-family: "AlexBrush";
  src: url("/fonts/AlexBrush/AlexBrush-Regular.ttf") format("truetype");
}
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Ajuste de parrafos (Esto debe ser un ajuste global para todo proyecto)*/
p {
  margin-block: 1em;
  margin-block: 1lh;
  font-size: large;
}

/* Mi Firma */
#miFirma {
  font-family: "AlexBrush", cursive;
  font-weight: 400;
  font-style: normal;
}

.bg-ambient {
  background-image: url("/img/fondoLibro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

aside {
  scrollbar-gutter: stable;
}

/* reducir el ancho de la barra de scroll */
aside::-webkit-scrollbar {
  width: 6px; /* ancho de la barra */
}

aside::-webkit-scrollbar-thumb {
  background-color: hsl(var(--bc) / 0.4); /* color usando variables de DaisyUI */
  border-radius: 3px; /* esquinas redondeadas */
}

aside::-webkit-scrollbar-track {
  background: transparent; /* fondo del track */
}
/* Firefox usa otra propiedad */
aside {
  scrollbar-width: thin; /* valores: auto | thin | none */
  scrollbar-color: hsl(var(--bc) / 0.4) transparent;
}

/* La misma personalización de la barra side pero para el main */
main::-webkit-scrollbar {
  width: 6px;
}
main::-webkit-scrollbar-thumb {
  background-color: hsl(var(--bc) / 0.4);
  border-radius: 3px;
}
main::-webkit-scrollbar-track {
  background: transparent;
}
main {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--bc) / 0.4) transparent;
}
